
{% include "header.html "%}

	<div class="clearfix"></div>
	<!-- Header section end  -->

	<!-- Hero section  -->
	<div class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/1.jpg">
				<a href="portfolio.html" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/2.jpg">
				<a href="portfolio.html" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/3.jpg">
				<a href="portfolio.html" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/4.jpg">
				<a href="Х" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/5.jpg">
				<a href="portfolio.html" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/6.jpg">
				<a href="portfolio.html" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/7.jpg">
				<a href="portfolio.html" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
		</div>
		<div class="hero-slider owl-carousel">
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/8.jpg">
				<a href="portfolio.html" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/9.jpg">
				<a href="portfolio.html" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/10.jpg">
				<a href="portfolio.html" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a></div>
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/11.jpg">
				<a href="portfolio.html" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/12.jpg">
				<a href="portfolio.html" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/13.jpg">
				<a href="portfolio.html" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/14.jpg">
				<a href="portfolio.html" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
		</div>
		<div class="hero-slider owl-carousel">
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/15.jpg">
				<a href="portfolio.html" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/16.jpg">
				<a href="portfolio.html" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/17.jpg">
				<a href="portfolio.html" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/18.jpg">
				<a href="portfolio.html" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/19.jpg">
				<a href="portfolio.html" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/20.jpg">
				<a href="portfolio.html" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/21.jpg">
				<a href="portfolio.html" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
		</div>
			<div class="hero-slider owl-carousel">
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/22.jpg">
				<a href="portfolio.html" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/23.jpg">
				<a href="portfolio.html" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/24.jpg">
				<a href="portfolio.html" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/25.jpg">
				<a href="portfolio.html" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/26.jpg">
				<a href="portfolio.html" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/27.jpg">
				<a href="portfolio.html" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
			<div class="hero-item portfolio-item set-bg" data-setbg="static/img/portfolio/28.jpg">
				<a href="portfolio.html" class="hero-link">
					<h2>Take a look at my Portfolio</h2>
				</a>
			</div>
		</div>

	</div>
	<!-- Hero section end  -->
	
	<!-- Intro section   -->
	<section class="intro-section">
		<div class="intro-warp">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-6 col-lg-7 p-0">
						<div class="intro-text">
							<h2>Меня зовут Юлия Ланцова</h2>
							<p>Работаю фриланс фотографом и ассистентом художника/реквизитором на съемочной площадке. Занималась портретными частными фотосессиями, репортажной съемкой мероприятий, предметной съемкой. Училась в 2020 году в школе фотографии Докдокдок на курсе документальная фотография и журналистика.Изучала древнегреческий и латинский языки на кафедре классической филологии РГГУ. В 2019 году работала оператором над док.фильмом "Катя и Вася идут в школу" Ю.Вишневецкой. Есть желание развиваться именно в направлении документального кино , исследовать док. метод в антропологи, театре,постановочной фотографии. В 2019,20-м годах была волонтером на фестивале коротко-метражного кино shnit. Кроме создания визуальных образов интересуют частные архивы: найденные семейные альбомы, дневники,видеозаписи, просто архивы в облачных хранилищах. Вдруг вам попадались на барахолках, улицах или вы не знаете, что делать с вашим- можно писать мне.

</p>
							<a href="#" class="sp-link">Take a look @my portfolio</a>
						</div>
					</div>
					<div class="col-xl-6 col-lg-5 p-0">
						<div class="skill-warp">
							<div class="single-progress-item">
								<div class="progress-bar-style" data-progress="75"></div>
								<p>Nature</p>
							</div>
							<div class="single-progress-item">
								<div class="progress-bar-style" data-progress="100"></div>
								<p>Passion</p>
							</div>
							<div class="single-progress-item">
								<div class="progress-bar-style" data-progress="90"></div>
								<p>Portraits</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Intro section end  -->
	
	<!-- Footer section   -->

	{% include "footer.html "%}

