
	{% include "header.html "%}



	<div class="clearfix"></div>
	<!-- Header section end  -->

	<!-- Portfolio section  -->
	<div class="portfolio-3-section">
		<ul class="portfolio-filter pf-2 controls">
			<li class="control" data-filter="all">All</li>
			<li class="control" data-filter=".nature">Nature</li>
			<li class="control" data-filter=".studio">Studio Photography</li>
			<li class="control" data-filter=".weddings">Weddings</li>
			<li class="control" data-filter=".lifestyle">Lifestyle</li>
			<li class="control" data-filter=".fashion">Fashion</li>
		</ul>

			<div class="container ">
  				<h2>Responsive Embed</h2>
				<p>Create a responsive video and scale it nicely to the parent element with an 16:9 aspect ratio</p>
  				<div class="embed-responsive embed-responsive-16by9">
    				<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/3WxKa6BnNT8" title="YouTube video player" frameborder="12" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 				 </div>
			</div>
			<div class="container ">
  				<h2>Responsive Embed</h2>
				<p>Create a responsive video and scale it nicely to the parent element with an 16:9 aspect ratio</p>
  				<div class="embed-responsive embed-responsive-16by9">
    				<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/ZP_ICzHbsKQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 				 </div>
			</div>
			<div class="container ">
  				<h2>Responsive Embed</h2>
				<p>Create a responsive video and scale it nicely to the parent element with an 16:9 aspect ratio</p>
  				<div class="embed-responsive embed-responsive-16by9">
    				<iframe class="embed-responsive-item" swidth="560" height="315" src="https://www.youtube.com/embed/34GdeBamjIE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 				 </div>
			</div>

		<div class="text-center text-sm-right load-more-warp">
			<button class="site-btn load-more">Load More</button>
		</div>
	</div>
	<!-- Portfolio section end  -->

	<!-- Footer section   -->

	{% include "footer.html "%}

	</body>
</html>
